.twichmain-display {
    width: 85%;
}
.twich-recomend-mainchannel {
    display: flex;
    align-items: center;
    margin: 30px 0px;
    margin-bottom: 50px;
}
.twich-recomend-mainchannel{
    padding: 0px 60px;
    margin-right: 20px;
    margin-left: 20px;
}
.fa-chevron-right {
    position: absolute;
    right: 90px;
}
.twich-recomend-mainchannel__column {
    position: relative;
}
.twich-recomend-mainchannel__column1 {
    z-index: 1;
    right: -80px;
}
.twich-recomend-mainchannel__column2 {
    right: 90px;
    z-index: 2;
}
.twich-recomend-mainchannel__column3 {
    right: 250px;
    z-index: 1;
}
.main-photos {
    width: 400px;
    height: 250px;
}
.like-it__channel {
    padding: 0px 7px;
}
.like-it__channel__columns {
    display: flex;
}
.like-it__channel__column {
    width: 317px;
    height: 180px;
    margin: 0px 3px 110px 3px;
}
.like-it__channel__column-a {
    width: 188px;
    height: 250px;
    margin: 0px 6px 110px 6px;
    
}
.like-category {
    padding: 0px 18px;
}
.like-categorys {
    border-bottom: 1px solid rgba(0,0,0,0.08); 
}
.like-it__channels {
    display: flex;
    justify-content: space-between;
}
.like-it__channel__title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 12px;
    margin-right: 5px;
}
.like-it__channel__streamer {
    display: flex;
    align-items: start;
    margin-top: 5px;
}
.like-it__channel__streamer-i{
    margin-right: 15px;
    font-size: 15px;
    cursor: pointer;
}
.like-it__channel__streamer-info span{
    display: block;
}
.like-it__channel__avatar {
    border-radius: 50%;
    margin-right: 10px;
}
.like-it__channe__text-title{
    font-weight: 550;
    font-size: 15px;
    margin-bottom: 10px;
}
.like-it__channe__text-titles {
    font-size: 14px;
}
.like-it__channel-font {
    font-size: 13px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 6px;
}
.like-it__channel-fonts {
    font-size: 13px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 7px;
}
.like-it__channel-language {
    padding: 3px 3px;
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.05);
    border: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: 550;
    color:rgba(0,0,0,0.7);
    transition: background-color ease-in;
}
.like-it__channel-language:hover {
    background-color: rgba(0,0,0,0.1);
}
.recommend-chevron {
    padding: 13px;
    border-radius: 4px;
    transition: background-color 0.1s ease-in;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.twich-recomend-mainchannel i:hover {
    background-color:rgba(0,0,0,0.07);
}
.like-it__channel-more {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.like-it__channel__divider {
    width: 720px;
    height: 1px;
    background-color: rgba(0,0,0,0.08);
}
.like-it__channel__mores {
    font-size: 14px;
    color: #9d16c5;
    margin: 0px 25px;
    cursor: pointer;
}
.like-it__channel__mores .fa-chevron-down {
    margin: 0px 10px;
}
.like-it__channel__category {
    display: flex ;
}
.like-it__channel__categorys {
    color: #9d16c5;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: text-decoration ease-in;
}
.like-it__channel__categorys:hover {
    text-decoration: underline;
}
.like-it__channel-like {
    padding: 3px 3px;
    width: 70px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.05);
    border: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: 550;
    color:rgba(0,0,0,0.7);
    transition: background-color ease-in;
}
.like-it__channel-like:hover {
    background-color: rgba(0,0,0,0.1);
}
.like-it__channel-like-a {
    padding: 3px 3px;
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.05);
    border: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: 550;
    color:rgba(0,0,0,0.7);
    transition: background-color ease-in;
    margin-right: 5px;
}
.like-it__channel-like-a:hover {
    background-color: rgba(0,0,0,0.1);
}
.like-it__channel-like-like {
    display: flex;
}
.like-it__channel-like-b {
    padding: 3px 3px;
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.05);
    border: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: 550;
    color:rgba(0,0,0,0.7);
    transition: background-color ease-in;
    margin-right: 5px ;
}
.like-it__channel-like-c {
    width: 60px;
}
.like-it__channel-like-b:hover {
    background-color: rgba(0,0,0,0.1);
}