.right-side-bar {
    width: 30%;
    margin-left: auto;
    height: 200vh;
    margin: 0px;
    background-color: white;
}
.online-chatting {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.online-chattings {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}