.right-side-bar {
    width: 19%;
    margin-left: auto;
    height: 110vh;
}
.online-chatting {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.online-chattings {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}