.main-screen .left-side-bar {
    margin-right: auto;
    width: 23%;
    background-color: #efeff1;
    padding: 0px 10px;
    height: 200vh;
    margin-right: 0px;
}
.recommend-channel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-weight: 600;
    font-size: 18px;
}
.recommend-title {
    font-size: 19px;
}
.recommned-channels {
    margin: 20px 0px;
    font-size: 15px;
    font-weight: 600;
}
.another_viewer {
    display: flex;
    margin: 20px 0px;
    font-size: 15px;
    font-weight: 600;
}