.main-screen .left-side-bar {
    margin-right: auto;
    width: 23%;
    background-color: #efeff1;
    padding: 0px 10px;
    height: 200vh;
    margin-right: 0px;
}
.left-side-bar {
    animation: feidins 0.3s linear;
}
@keyframes feidins {
    from{
        opacity: 0;
        transform:translateY(-5px);
        }
    to{
        opacity: 1;
        transform: none;
    }
}
.recommend-channel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-weight: 600;
    font-size: 18px;
}
.recommend-channel .fa-arrow-left {
    cursor: pointer;
}
.recommend-title {
    font-size: 19px;
}
.recommned-channels {
    margin: 20px 0px;
    font-size: 15px;
    font-weight: 600;
}
.another_viewer {
    display: flex;
    margin: 20px 0px;
    font-size: 15px;
    font-weight: 600;
}