.streaming-rules {
    display: flex;
    margin: 30px 80px;
}
.streaming-rules span {
    font-size: 14px;
}
.streaming-rules__chatting {
    align-items: center;
    margin-right: 110px;
}
.chatting-rules {
    list-style:decimal;
    margin-left: 17px;
}
.streaming-rules__chatting-title {
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: 600;
}
.streaming-month_program {
    align-items: center;
    margin-right: 30px;
}
.streaming-month_program-subscribe span{
    display: block;
}